@import url('../../index.css');

.item-image {
  display: block;
  width: 270px; 
  height: 300px;
  margin-left: 0px;
  padding-left: 0px;
  object-fit: contain;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.item-image:hover {
  transform: scale(1.1); /* Grow the image */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Slightly increase the shadow */
}

Link {
  margin: 0;
  padding: 0;
}

.item h4 {
  width: 270px;
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}

.pricing {
  display: flex;
  margin-top: 0px;
  gap: 20px;
  font-style: bold;
  font-weight: 600;
}

.old-price {
  text-decoration: line-through;
  
}