@import url('../../index.css');

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.nav img {
 width: 150px;
 height: auto;
}

.nav-menu ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header-cart img {
  width: 20px;
  height: 20px;
}