@import url(../../index.css);

.cart {
  margin: 100px 50px;
  display: flex;
  gap: 70px;
}

.cart-left-side {
  min-width: 800px;
}

.cart-header {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  gap: 50px;
  align-items: center;
  padding: 15px 0px;
}

.cart-item {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  gap: 25px;
  align-items: center;
  font-weight: 500;
  padding: 15px 0px;
}

.cart-product-icon {
  height: 70px;
  width: 70px;
}

.cart-quantity {
  width: 64.5px;
  height: 51.113px;
  border: 2px solid #ebebeb;
  background: #fff;
}

/* SideBar */
.cart-right-side {
  width: 440px;
  background: #f5f5f5;
  padding: 20px;
}

.cart-subtotal {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.checkout-btn {
  color: white;
  background-color: var(--clr-primary-1);
  margin-top: 20px;
}
.checkout-btn:hover {
  background-color: white;
  color: var(--clr-primary-1);
}

.checkout-btn:active {
 color: white;
  background: var(--clr-primary-1);
  transform: scale(1); 
  cursor: grab;
}


